Package: jb.kalashrah.JodelPP
Name: JodelPP
Version: 0.2.0
Description: 
Section: System
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: kalashrah
dev: k10
Homepage: 
Depiction: 
Maintainer: 
Icon: http://kalashrah.000webhostapp.com/Jodel/JodelPP.png

